@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px; }

main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans'; }

#header {
  background: #0f1112;
  height: 50px;
  width: 100%; }

.header__logo {
  padding-top: 5px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.header__btn-back {
  color: #ccac5b;
  float: left;
  cursor: pointer;
  text-transform: uppercase;
  margin: 12px 0 0 0;
  letter-spacing: 9px; }
  .header__btn-back::before {
    content: ' ';
    float: left;
    display: block;
    border-bottom: 1px solid #ccac5b;
    width: 30px;
    height: 10px;
    margin: 0 10px 0 0; }

.header__arrow {
  margin-left: 30px;
  margin-top: 17px;
  float: left; }

.content__left {
  padding-left: 30px; }

.content__right {
  padding-right: 30px;
  padding-bottom: 40px; }

.col-6 {
  width: 50%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

.rocket .rocket__name {
  font-size: 36px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 20px; }

.rocket .rocket__start_date {
  color: #a7a9ac;
  letter-spacing: 9px; }

section {
  margin-top: 40px;
  margin-bottom: 20px; }

.section__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #ccac5b;
  border-bottom: 1px solid #ccac5b;
  letter-spacing: 9px;
  padding-bottom: 10px; }

.section__desc {
  font-size: 14px;
  padding-top: 20px;
  overflow: overlay; }

.section__desc__list {
  padding-left: 20px;
  padding-bottom: 20px;
  border-left: 1px dashed #a7a9ac; }
  .section__desc__list .section__desc__list__name {
    color: #a7a9ac;
    text-transform: uppercase; }
  .section__desc__list .section__desc__list__value {
    text-transform: uppercase;
    padding-left: 10px; }

.section__desc_full {
  padding-top: 20px; }

.links {
  background: url(/rocket.png) top center;
  background-size: cover;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: auto;
  clear: both; }

.links__title {
  padding-top: 600px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 18px; }

.links__title--center {
  text-align: center; }

.links__lists {
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .links__lists li {
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 14px;
    letter-spacing: 9px;
    margin: 0 20px 0 0; }
    .links__lists li:hover a {
      color: #ccac5b;
      transfrom: translateY(-10px);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .links__lists li a {
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none; }

.links__list--no-list-style {
  list-style: none; }

#footer {
  height: 80px;
  background: #0f1112;
  font-family: 'Open-sans';
  font-size: 14px; }

.footer__menu {
  float: left;
  margin-top: 30px;
  margin-left: 50px; }
  .footer__menu span {
    color: #666666;
    padding-left: 10px;
    text-transform: uppercase; }
  .footer__menu ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0; }
    .footer__menu ul li {
      padding-left: 20px; }
    .footer__menu ul a {
      color: #a7a9ac;
      text-decoration: none;
      text-transform: uppercase; }

.company {
  color: #666666;
  float: right;
  margin-top: 30px;
  padding-right: 50px;
  text-transform: uppercase; }


/*# sourceMappingURL=main.css.map*/