
.weadherContainer {
  ul {
    display: flex;
  }

  li {
    padding: 20px;
    margin: 20px;
    list-style: none;
    &:nth-of-type(3n){

    }
    &.newDay {
      border: 1px solid #333;
    }
  }
  .col {

    div {
      display: block;
      text-align: center;
    }
  }
  .paramName {
    font-size: 12px;
    margin-bottom: 10px;
    &.date {
      color: eee;
      font-size: 10px;
    }

  }
  .paramValue {
    margin-bottom:40px;
  }
}
